.midSection {
    min-width: 50%;
    border: 1px solid white;
    height: 627px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 22px;
    padding: 0px;
}

.midSection div {
    border: 1px solid white;
    margin: 56px;
    flex: 50% 1;
    min-width: 79%;
    min-height: 34%;
    border-radius: 22px;
    align-items: center;
    display: flex;
    justify-content: center;
}