.userSection{
   

   
  
        min-width: 22%;
        border: 1px solid black;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 22px;
        margin-left: 40px;
 
   
}


.userName {
    display: flex;
    flex: 2px;
 border: 1px solid black; 
justify-content: center;
    align-items: center;
    min-width: 100%;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}
.friendSection {
    display: flex;
    flex: 70% 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 100%;
}

.friendSection div {
    flex: 20% 1;
    padding: 10px;
    background-color: #f1f1f1;
    min-width: 88%;
    border: 1px solid black;
    border-radius: 23px;
    align-items: center;
    justify-content: center;
    display: flex;
}

